.add-point-category {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background: #f9fafb;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.th {
  background-color: #3b82f6;
}

.add-point-category h2 {
  text-align: center;
  margin-bottom: 0rem;
}

.add-point-category form {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.add-point-category label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.add-point-category input,
.add-point-category textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-point-category button {
  padding: 0.7rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-point-category button[disabled] {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.message {
  margin-top: -3rem;
  font-weight: 600;
  text-align: center;
}

.point-category-manager {
  max-width: 100%;
  margin: auto;
}

.point-category-manager form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0rem;
}

.point-category-manager input,
.point-category-manager textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 426px;
  margin-bottom: 15px;
}

.point-category-manager button {
  padding: 0.6rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.category-table th {
  padding: 0.8rem;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #f5f5f5;
}

.category-table td {
  padding: 0.8rem;
  border: 1px solid #ccc;
  text-align: left;
}
.category-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.category-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.category-table button {
  margin-right: 0.5rem;
  padding: 4px 8px;
  border: none;
  background: #4b5563;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.category-table button:hover {
  background-color: #374151;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  width: 550px;
  max-width: 95%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.cancel-btn {
  padding: 0.6rem;
  background: #66686a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  gap: 80px;
}

.row1 label {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
}
.row2 label {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
}

.row1 input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 144px;
}
.row2 input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 144px;
}

.head {
  margin-bottom: 30px;
}

/* .category-table tr:nth-child(even) {
  background-color: #f5f5f5; 
}

.category-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.category-table th {
  background-color: #f5f5f5; 
  color: black;
  text-align: left;
  padding: 11px;
}

.category-table td {
  padding: 8px;
} */

.col {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  gap: 64px;
}

.col1 label {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
}
.col2 label {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
}

.col1 input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 104px;
}
.col2 input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 104px;
}

.co1 {
  gap: 5px;
}

.text {
  font-size: 0.95rem;
  color: #4b5563; /* gray-600 */
  margin-bottom: 0.5rem;
  text-align: left;
}
